<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>303276995486-0rp0u9igmf0c2lqd717mjgjudluiorgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.303276995486-0rp0u9igmf0c2lqd717mjgjudluiorgn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>303276995486-272pn3mvt020j5657qlvvadkt9he1f6j.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdPvU0IH2_4LXR3cz_-zV4YMZ4q8tuBfs</string>
	<key>GCM_SENDER_ID</key>
	<string>303276995486</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.synergyapp</string>
	<key>PROJECT_ID</key>
	<string>nanoskies-f5d01</string>
	<key>STORAGE_BUCKET</key>
	<string>nanoskies-f5d01.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:303276995486:ios:99880aef27829d2d775c8f</string>
	<key>DATABASE_URL</key>
	<string>https://nanoskies-f5d01.firebaseio.com</string>
</dict>
</plist>